# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# kdev4 files
*.kdev4

# CMake build dir
build*/
Debug*/
Release*/

# Backup files
*~
*.swp
*.tlog
*.obj
*.suo
*.pdb
*.log
*.sdf
*.opensdf
*.idb
*.sbr
*.bsc
*.ilk
*.exp
*.pch
*.cache
*.ipch
*.nupkg
